
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <h1 class='h2'>
            About us
          </h1>
          <h1 class='h5'>PIGERO - All the tourist roadmaps, made by all your friends</h1>
          <hr>
          <p>The first community that interconnects tourists, and allows then to follow which other roadmaps.</p>
          <p>The objective of PIGERO is to connect all the tourists, allows them to change experiences, by give them the opportunity to reproduce their own journey through different cities, to help the other´s tourists once they reach that same place.</p>
          <p>
            <ul>
              <li>Create your roadmaps based on  your experience</li>
              <li>Follow your friends, and use they roadmaps</li>
              <li>Talk with tourist and natives, and you will never feel alone or lost during you trip</li>
              <li>Use your imagination to create different types of roadmaps based on your passions</li>
              <li>Find unconventional places</li>
              <li>Explore the world</li>
            </ul>
          </p>
          <p>With PIGERO you can access to a community, where you can find several roadmaps, with varied thematic made by your friends.</p>
          In terms of social interaction, you can talk, ask, share…. With other users in your area, you can post your trip´s photos and movies, and your roadmaps can become icons for the whole the community.
        </div>
      </div>
    </div>