
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>Pigero understand that providing information online involves a great deal of trust on your part. We take this trust very seriously, and make it a high priority to ensure the security and confidentiality of the personal information you provide to us. Before submitting your personal information to our Web site, please read this Policy carefully to learn about our privacy practices. By visiting Pigero’s Web site, www.pigero.com , you are accepting the practices described herein.</p>
          <h1 class='h2'>What information we collect from you</h1>
          <h2 class='h4'>In General</h2>
          <p>We receive and store any information you enter on our Web site or give us in any other way. This includes information that can identify you ("personal information"), including your first and last name, telephone number, postal and e-mail addresses, user name and password. We may also request information about your travel plans, style, and preferences. You can choose not to provide information to us, but in general some information about you is required in order for you to enjoy the benefits of being a registered member. For example, only registered members are able to post roadmaps and see roadmaps from other users. In addition, some information is also required in order for you to ask us a question or initiate other transactions on our site.</p>
          <h2 class='h4'>Information About Others</h2>
          <p>You will have the opportunity to provide contact information for other people through our Web site. You should obtain the consent of other individuals prior to providing Pigero with their personal information.</p>
          <h2 class='h4'>Information About Others</h2>
          <p>We also may periodically obtain both personal and non-personal information about you from affiliated entities, business partners and other independent third-party sources and add it to other information about you. For example, if you access third party services, such as social media services, through our Web site or before coming to our Website, we may collect information such as your user name, password, and other information made available to us through those services in order to improve and personalize your use of our Web site.</p>
          <p>We have partnered with Facebook to provide Instant Personalization on Pigero for members of Facebook. If you have Instant Personalization set to "enabled" in your Facebook privacy settings and you are logged into Facebook, then Pigero will be personalized for you when you visit the Web site, even if you are a first-time user of Pigero’s Web site. For example, we will show you reviews that your Facebook friends have posted on Pigero and places they have visited. In order to provide you with this personalized experience, Facebook provides us with information that you have chosen to make available pursuant to your Facebook privacy settings. That information may include your name, profile picture, gender, friend lists and any other information you have chosen to make available.</p>
          <h2 class='h4'>Automatic Information</h2>
          <p>We automatically collect some information about your computer when you visit Pigero. For example, we will collect session data, including your IP address, Web browser software, and referring Web site. We also may collect information about your online activity, such as content viewed and pages visited. One of our goals in collecting this automatic information is to help us understand the interests of our users and customize your user experience.</p>
          <h1 class='h2'>Children's privacy</h1>
          <p>Pigero is a general audience site and does not offer services directed to children. Should an individual whom we know to be a child under age 13 send personal information to us, we will delete or destroy such information as soon as reasonably possible.</p>
          <h1 class='h2'>External links</h1>
          <p>If any part of the Pigero Web site links you to other Web sites, those external Web sites do not operate under this Privacy Policy. We recommend that you examine the privacy statements posted on those other Web sites to understand their procedures for collecting, using, and disclosing personal information.</p>
          <h1 class='h2'>Changes to this Privacy Policy</h1>
          <p>Pigero may update this Privacy Policy in the future. We will notify our members about material changes to this Privacy Policy by either sending a notice to the e-mail address you provided to us or by placing a prominent notice on our Web site.</p>
        </div>
      </div>
    </div>